aside,
article,
section,
nav,
header,
footer {
    display: block;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    background: #000000;
}

body {
    background: #BAD3F3;
}

p,
h1,
h2,
h3 {
    margin: 0;
    padding: 10;
}

a {
    color: rgb(16, 107, 7);
    font-size: 40px;
    color: #32CC61;
    text-align: center;
}

h1 {
    color: rgb(153, 8, 8);
    font-size: 1em;
    text-align: center;
}

h2 {
    color: rgb(121, 70, 4);
    font-size: 1.8em;
    text-align: center;
}

h3 {
    color: #32CC61;
    font-size: 1.8em;
    text-align: center;
}

h4 {
    color: rgb(26, 34, 28);
    font-size: 1.8em;
    text-align: center;
}

h5 {
    color: rgb(95, 41, 6);
    font-size: 01em;
    text-align: center;
}

#col1 {
    height: 800px;
    background: rgb(171, 172, 167);
    width: 220px;
    float: left;
}

#ta1 {
    font-size: 30px;
    font-family: fantasy;
    text-align: center;
    color: rgb(215, 208, 221);
    padding: 1rem;
    background-color: rgb(12, 151, 117);
}

body {
    width: 1100px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    padding: 10;
    height: 60px;
    clear: both;
    text-align: center;
    color: aquamarine;
    background: rgb(124, 149, 158);
}

p {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    line-height: 1.4em;
    text-align: justify;
}